<style>
  #pad {
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: aqua;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #label {
    font: 100px Arial;
    color: white;
  }
</style>